html{
	height: 100%;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	height: 100%;
	background:url(../img/background.png) repeat;
	/*font:normal 1em 'fira-sanslight';*/
	color: #566778;
}
/*HEADER*/
header{
	height: 100px;
	width: 100%;
	background-color: #CDCFD2;
	border-bottom: 3px solid #3BA8C1;
	margin-bottom: 35px;
}
.logo{
	padding: 15px 25px;
	float: left;
}
.soc-block{
	padding: 25px 10px;
	float: right;
}
.soc{
	display: inline-block;
	color: #9d9d9d;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #fff;
	font-size: 20px;
	margin-right: 10px;
	line-height: 40px;
	text-align: center;
}
.soc:hover{
	color:#fff ;
	background-color: #00acf6;
}


.main_block{
	max-width: 960px;
	margin: 0 auto;
}

/*NAVIGATION*/
.navigation{
	max-width: 250px;
}
.navigation-block{
	border-radius: 3px;
	overflow: hidden;
	border: 1px solid #c6c6c6;
	padding-left: 0;
}
.navigation-item{
	text-align: left;
	background: linear-gradient(#fbfafa, #e9e8e8);
	border-bottom: 2px solid #3BA8C1;
	
}
.navigation-item:last-child{
	border:none;
}
.navigation-item a{
	color: #727070;
	display: block;
	padding: 15px;
}
.navigation-item a:hover{
	color: #3BA8C1;
	background: linear-gradient(#e8e7e7, #c4c2c2);
}
.curents{
	background-color: #3BA8C1;
	color: #fff;
}

/*CONTACT*/
/*MAIN*/
/*FOOTER*/
footer{
	height: 60px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #CDCFD2;
	border-top: 3px solid #3BA8C1;
}
footer .container{
	margin: 20px auto;
	width: 980px;
	text-align: center;
}
.lock-inner{
	padding-left: 15px;
	padding-right: 50px;
	background:url(../img/lock.png) no-repeat;
	display: block;
	font-size: 12px;
	font-family: "OpenSans-Bold";
	margin: 0;
	color: #9c9c9c;
	/*width: 90px;*/
	margin: 0 auto;
	height: 23px;
	line-height: 23px;
}
.copyright{
	
	font-size: 12px;
	font-family: "OpenSans-Light";
	text-align: right;
}
.lock-inner:hover{
	background:url(../img/unlock.png) no-repeat;
	color: #3BA8C1;
}