html{
	height: 100%;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
li{
	list-style: none;
}
img{
	width: 100%;
}
body{
	height: 100%;
	background:url(../img/background.png) repeat;
	color: #566778;
	font-family: "OpenSans-Light";
	font-size: 15px;
}
/*HEADER*/
header{
	height: 100px;
	width: 100%;
	background-color: #eff3f7;
	border-bottom: 3px solid #3BA8C1;
	margin-bottom: 35px;
}
.logo{
	padding: 15px 25px;
	float: left;
}
.soc-block{
	padding: 25px 10px;
	float: right;
}
.soc{
	display: inline-block;
	color: #eff3f7;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #58697a;
	font-size: 20px;
	margin-right: 10px;
	line-height: 40px;
	text-align: center;
}
.soc:hover{
	background-color: #3ba8c0;
}


.main_block{
	width: 960px;
	margin: 0 auto;
}

/*NAVIGATION*/
.navigation{
	max-width: 300px;
}
.navigation-block{
	border-radius: 3px;
	overflow: hidden;
	padding-left: 0;
	margin-bottom: 25px;
}
.navigation-item{
	text-align: left;
	background: #eff3f7;
	border-bottom: 2px solid #3BA8C1;
	font-size: 18px;
	
}
.navigation-item:last-child{
	border:none;
}
.navigation-item a{
	color: #959aa8;
	display: block;
	padding: 15px;
}
.navigation-item a:hover{
	color: #3ba8c0;
}
.curents a,
.curents a:hover{
	background-color: #3ba8c0;
	color: #fff;
}


/*CONTACT*/
.contact{
	max-width: 300px;
}
.contact-block{
	border-radius: 3px;
	overflow: hidden;
	padding-left: 0;
	margin-bottom: 25px;
}
.contact-item{
	color: #fff;
	background-color: #48cbe8;
	padding: 15px;
	font-size: 15px;
}
.contact-item:first-child{
	background-color: #3ba8c0;
	font-size: 18px;
}
.contact-item:nth-child(2){
	background-color: #41b9d4;
	font-size: 15px;
	padding: 15px 0;
}
.contact-item:last-child{
	background-color: #51daf8;
}
.contact-item i{
	padding: 0 13px;
	font-size: 17px;
}
/*MAIN*/
/*.main{
	width: 650px;
	margin: 0 auto;
}*/
.info,
.experience,
.education{
	width: 650px;
	
	background-color: #eff3f7;
	padding-bottom: 35px;
	margin-bottom:25px;
	border-radius: 3px;
}
.title{
	color: #3ba8c0;
	font-size: 27px;
	border-bottom: 2px solid #3ba8c0;
	width: 350px;
	padding: 20px;
}

.photo{
	height: 150px;
	width: 150px;
	border:3px solid #2aa3bb;
	border-radius: 50%;
	overflow: hidden;
	margin: 35px 25px 25px 50px;
	float: left;
}
.description {
	color: #4a545d;
	margin-top: 30px;
}
.description span{
	font-weight: bold;
	padding-right: 15px;
}
.description span.key{
	background: linear-gradient(rgba(59,168,192,1) 0%, rgba(59,168,192,1) 50%, rgba(46,141,162,1) 51%, rgba(46,141,162,1) 100%);
	padding: 2px 10px;
	color: #fff;
	border-radius: 2px;
	margin: 5px;
}
.experience-block,
.education-block{
	color: #4a545d;
	margin-top: 30px;
}
.experience-item img{
height: 40px;
width: 40px;
float: left;
margin: 0 30px 30px 50px;
}
.experience-item,
.education-item{
	font-size: 17px;

}
.experience-item span,
.education-item span{
	font-size: 15px;
}
.education-item img{
	width:46px;
	height: 27px;
	margin: 0 30px 30px 50px;
}

/*WORK*/
.work{
	width: 650px;
	background-color: #eff3f7;
	padding-bottom: 35px;
	margin-bottom:25px;
	border-radius: 3px;
	height: 840px;
}
.work-title{
	color: #3ba8c0;
	font-size: 27px;
	border-bottom: 2px solid #3ba8c0;
	width: 200px;
	padding: 20px;
	margin-bottom: 25px;
}
.work-items{
	width: 180px;
	text-align: center;
	margin: 0 15px 20px;
}
.work-title img{
	height: 128px;
	width: 180px;
	border:2px solid #3ba8c0;
	border-radius: 2px;
	overflow: hidden;
}
.add{
	height: 130px;
	width:180px;
	border-radius: 3px;
	border: 1px dashed #3ba8c0;
	background-color: #edf8fc;
	padding-top: 36px;
	text-align: center;
}
.add img{
	width: 34px;
	height: 36px;
}
.add p{
	color: #3ba8c0;

}

/*FOOTER*/
footer{
	height: 60px;
	background-color: #CDCFD2;
	border-top: 3px solid #3BA8C1;
}
footer .container{
	margin: 20px auto;
	width: 980px;

	text-align: center;
}
.lock-inner{
	padding-left: 15px;
	padding-right: 50px;
	background:url(../img/lock.png) no-repeat;
	display: block;
	font-size: 12px;
	font-family: "OpenSans-Bold";
	margin: 0;
	color: #9c9c9c;
	/*width: 90px;*/
	margin: 0 auto;
	height: 23px;
	line-height: 23px;
}
.copyright{
	
	font-size: 12px;
	font-family: "OpenSans-Light";
	text-align: right;
}
.lock-inner:hover{
	background:url(../img/unlock.png) no-repeat;
	color: #3BA8C1;
}